* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    max-width: 720px;
    margin: 50px auto;
}


/* HEADER */

.header {
    margin-bottom: 30px;
}

h1,
p {
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 400;
}

p {
    font-size: 20px;
    font-weight: 200;
    color: #eee;
    margin: 0;
}

/* FORM */

form {
    max-width: 720px;
    margin: 0 auto;
    background-color: #1b1b32cc;
    padding: 40px;
    border-radius: 5px;
}

label {
    font-size: 1.125rem;
}

.label {
    display: inline-block;
    margin-bottom: 10px;
}

.input,
select {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 16px;
    color: #555;
}

textarea {
    width: 100%;
    min-height: 120px;
    padding: 10px;
    resize: vertical;
    outline: none;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #37af65;
    color: #fff;
    margin-top: 10px;
}