* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --white-bg: #f5fcff;
    --dark-bg: #10162f;
    --blue: #3a10e5;
    --yellow: #ffd300;
    --white-color: #ffffff;
    --black-color: #10162f;
}

body {
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 0;
}


/* header */

#header {
    position: fixed;
    background-color: var(--white-bg);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}

.header-scroll {
    background-color: var(--white-color) !important;
    border-bottom: 1px solid var(--black-color);
}

#header-content {
    width: 85%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-content .left,
#header-content .right {
    display: flex;
    align-items: center;
}

#header-content .left {
    width: 80%;
}

#header-content .right {
    justify-content: space-between;
    width: 20%;
}

#header-img {
    height: 25px;
    cursor: pointer;
}

#nav-bar {
    display: flex;
    align-items: center;
    height: 40px;
}

#nav-bar ul {
    display: flex;
    height: 40px;
    margin: 0;
    padding: 0;
}

#nav-bar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

#nav-bar ul li a {
    color: var(--black-color);
    text-decoration: none;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-bar ul li a:hover {
    color: var(--blue);
}

#header .search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

#header .search:hover {
    background-color: #eee;
}

#header .search img {
    height: 25px;
}

#header .btn {
    font-weight: 500;
    transition: .3s;
}

.login,
.signup {
    padding: 8px 15px 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.signup {
    background-color: var(--blue);
    color: var(--white-color);
}

.login:hover {
    background-color: #eee;
    color: var(--blue);
}

.signup:hover {
    background-color: #3a10e5cc;
}

.menu-toggle {
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
}

.menu-toggle:hover {
    background-color: #eee;
}

.toggle {
    width: 20px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-toggle span {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--dark-bg);
    transition: .3s;
}

.menu-toggle.active span:nth-child(1) {
    transform: rotate(135deg);
    top: 7px;
}
.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
    transform: rotate(45deg);
    top: -6px;
}

.menu-mobile {
    position: fixed;
    z-index: 999;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: flex-end;
    background-color: var(--white-bg);
    border-top: 1px solid var(--black-color);
}

.menu-mobile .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.menu-mobile #nav-bar {
    display: flex;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.menu-mobile #nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    border-bottom: 1px solid #ccc;
}

.menu-mobile #nav-bar ul li {
    width: 100%;
}

.menu-mobile #nav-bar ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* main */

main {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

main section {
    width: 100%;
    display: flex;
    justify-content: center;
}

main section .content {
    width: 85%;
    height: 100%;
    padding: 50px 0;
}


/* sections */

.light {
    background-color: var(--white-bg);
    color: var(--black-color);
}

.dark {
    background-color: var(--dark-bg);
    color: var(--white-color);
}

.yellow {
    background-color: var(--yellow);
    color: var(--black-color);
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text {
    font-size: 17px;
    line-height: 30px;
}

/* section 1: codeacademy */
#codeacademy {
    min-height: 600px;
}

#codeacademy .content {
    display: flex;
}

#codeacademy .content .left,
#codeacademy .content .right {
    display: flex;
    width: 50%;
    height: 100%;
}

#codeacademy .left {
    flex-direction: column;
    padding-right: 30px;
    padding-top: 10px;
}

#codeacademy .right {
    display: block !important;
    padding-top: 20px;
}

#codeacademy .codeacademy {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 7px;
    margin: 0;
    margin-bottom: 10px;
}

#codeacademy .title {
    font-size: 58px;
    font-weight: 700;
    margin: 0;
}

#codeacademy .subtitle {
    margin: 20px 0;
}

#codeacademy .button {
    width: 240px;
    height: 50px;
    background-color: var(--yellow);
    color: var(--black-color);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 5px;
    margin-top: 20px;;
    padding-bottom: 4px;
    border-radius: 2px;
    box-shadow: -5px 5px 0px 0px var(--white-bg);
    transition: .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

#codeacademy .button:hover {
    box-shadow: -10px 10px 0px -0px var(--white-bg);
}

#codeacademy .main-img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* section 2: */
#interactive {
    height: 350px;
}

#interactive .content {
    display: flex;
}

#interactive .left,
#interactive .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#interactive .right {
    align-items: flex-end;
    justify-content: center;
}

#interactive .right img {
    height: 280px;
}

/* section 3: */
#skills {
    height: 500px;
}

#skills .content {
    display: flex;
    flex-direction: column;
}

#skills .top {
    width: 50%;
    margin-bottom: 50px;
}

#skills .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill {
    width: 23%;
    height: 100%;
}

.skill img {
    height: 60px;
}

.skill-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.skill .text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

/* section 4: */
#grow {
    height: 650px;
}

#grow .title {
    margin-bottom: 20px;
}

#grow .topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#grow .topic {
    width: 30%;
    margin-top: 30px;
}

#grow .topic img {
    height: 60px;
}

#grow .topic .title {
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
}

#grow .topic .text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

#grow .topic a {
    color: var(--yellow);
}

/* section 5: */
#elevate {
    height: 250px;
}

#elevate .content {
    display: flex;
}

#elevate .left {
    width: 70%;
    height: 100%;
    padding-right: 20%;
}

#elevate .right {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
}

#elevate .right .button {
    background-color: var(--blue);
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    transition: .3s;
    cursor: pointer;
}

#elevate .right .button:hover {
    background-color: #3a10e5cc;
}

/* section 6: */
#gaps {
    height: 550px;
}

#gaps .content {
    display: flex;
}

#gaps .left {
    width: 70%;
    height: 100%;
    padding-right: 20%;
}

#gaps .left ul li {
    margin: 10px 0;
    font-size: 18px;
}

#gaps .right {
    width: 30%;
    height: 100%;
}

#gaps .right img {
    height: 430px;
}

/* section 7: */
#plans {
    height: 500px;
}

#plans .content {
    display: flex;
    justify-content: space-between;
}

#plans .content .left {
    width: 30%;
}

#plans .title {
    font-size: 46px;
}

#plans .plan {
    width: 400px;
    height: 370px;
    background-color: #ffffff;
    padding: 50px 20px;
}

#plans .plan.teams {
    border-top: 5px solid var(--dark-bg);
}

#plans .plan.enterprise {
    border-top: 5px solid var(--blue);
}

#plans .plan .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#plans .plan .title {
    font-size: 22px;
}

#plans .plan.plan.enterprise .title {
    margin: 0;
}

#plans .plan .recommended {
    background-color: var(--yellow);
    padding: 5px 10px;
}

#plans .plan .price {
    font-size: 42px;
    font-weight: 700;
}

#plans .plan .price span {
    font-size: 16px;
    font-weight: 400;
}

#plans .plan.enterprise .price {
    font-size: 38px;
}

#plans .plan .desc {
    width: 80%;
    font-size: 17px;
    line-height: 150%;
    margin: 20px 0 30px 0;
}

#plans .plan .button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    font-weight: 600;
    transition: .3s;
}

#plans .plan.teams .button {
    background-color: var(--white-color);
    color: var(--blue);
}

#plans .plan.teams .button:hover {
    background-color: #eee;
}

#plans .plan.enterprise .button {
    background-color: var(--blue);
    color: var(--white-color);
}

#plans .plan.enterprise .button:hover {
    background-color: #3a10e5cc;
}

/* section 8: */
#resources {
    height: 400px;
}

#resources .title {
    margin-bottom: 40px;
}

#resources .resources {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

#resources .resource {
    width: 23%;
}

#resources .resource .desc {
    font-size: 24px;
    margin-bottom: 20px;
}

#resources .resource a {
    color: var(--yellow);
}


/* footer */

#footer {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    background-color: var(--white-bg);
}

#footer .content {
    width: 80%;
    height: 100%;
    padding-top: 50px;
}

#footer #top {
    height: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

#footer #top > div {
    display: flex;
    flex-direction: column;
}

#footer .part1 {
    justify-content: space-between;
}

#footer .part1 .top {
    display: flex;
    flex-direction: column;
}

#footer .part4 {
    padding-left: 50px;
    border-left: 1px solid var(--dark-bg);
}

#footer #top .f-title {
    font-weight: 600;
    margin-bottom: 20px;
}

#footer #top .mt {
    margin-top: 20px;
}

#footer a {
    color: #000;
    text-decoration: none;
    margin: 3px 0;
}

#footer a:hover {
    color: var(--blue);
}

#footer .social-media img {
    height: 35px;
    margin: 10px 0 0 -7px;
    cursor: pointer;
}

#footer .logo img {
    height: 60px;
}

#footer .mobile-logo img {
    height: 120px;
    margin-left: -5px;
    cursor: pointer;
}

#footer #bottom {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--dark-bg);
    font-size: 14px;;
}

#footer #bottom .left span {
    margin: 0 3px 0 8px;
}